.logo {
    background: linear-gradient(to right, #fc4a1a 0%, #f7b733 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.background {
    background-color: #252525;
}

#left{
    height: 680px; 
    margin-top: 3%; 
    margin-left: 3%; 
    border-radius: 3%; 
    background-color: #D3D3D3;
}

.col-sm-auto{
    border-radius: 30%;
}

#right{
    height: 680px; 
    margin-top: 3%; 
    margin-right: 3%; 
    border-radius: 3%; 
    background-color: #D3D3D3;
}

#thing{
    border-radius: 30%;
    align-items: center;
}